DB_URL=jdbc:postgresql://localhost:5432/(DATABASE_NAME)
DB_USER=followup_user
DB_PASSWORD=change_me
DB_DDL_STRATEGY=update

DB_NAME=followup

JWT_SECRET=replace_with_a_long_random_secret
JWT_EXPIRATION=86400000

JKS_DESERIALIZATION=false
